    <div class="sidebar">
        <ul>
            <a href="gestionStock.html">
                <li>Gestion stocks</li>
            </a>
            <a href="gestionUsers.html">
                <li>Gestion utilisateurs</li>
            </a>
            <a href="order.html">
                <li>Nouvelle commande</li>
            </a>
            <a href="accueil.html">
                <li>Se déconnecter</li>
            </a>
        </ul>
    </div>
    <nav>
        <div class="logo">
            <h1>Negosud</h1>
        </div>
        <div class="middle">
            <ul>
                <a href="gestionStock.html" class="btn1">
                    <li class="btn">Gestion stocks</li>
                </a>
                <a href="gestionUsers.html" class="btn1">
                    <li class="btn">Gestion clients</li>
                </a>
                <a href="order.html" class="btn1">
                    <li class="btn">Nouvelle commande</li>
                </a>
            </ul>
        </div>
        <div class="deconnexion">
            <ul>
                <a href="accueil.html" class="btn1">
                    <li class="btn btn1">Se déconnecter</li>
                </a>
            </ul>
        </div>
        <img src="../menuBurger.png" alt="" class="menuburger">
    </nav>

    <section>
        <div class="titre">
            <h1>Gestion clients</h1>
        </div>

        <div class="AddUser">
            <button id="myBtn">Ajouter client</button>

            <div id="myModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <form action="" method="">
                        <div class="tab">
                            <div class="TabGauche">
                                <input type="text" size="30px" placeholder="Prénom" autocomplete="off" required /><br />
                                <input type="text" size="30px" placeholder="Nom" autocomplete="off" required /><br />
                                <input type="email" size="30px" placeholder="E-mail" autocomplete="off"
                                    required /><br />
                                <input type="tel" size="30px" placeholder="Télèphone" autocomplete="off"
                                    required /><br />
                            </div>
                            <div class="TabDroite">
                                <input type="text" size="30px" placeholder="Adresse" autocomplete="off"
                                    required /><br />
                                <input type="text" size="30px" placeholder="Ville" autocomplete="off" required /><br />
                                <input type="text" size="30px" placeholder="Pays" autocomplete="off" required /><br />
                                <input type="text" size="30px" placeholder="Code Postal" autocomplete="off"
                                    required /><br />
                            </div>
                        </div>
                        <input type="submit" name="envoi" value="Ajouter nouveau client">
                    </form>
                </div>
            </div>
        </div>

        <div class="TabUser">
            <div class="input">
                <input type="text" id="searchInput" placeholder="Recherche par nom">
            </div>
            <div class="test">
                <table class="table-style">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Télèphone</th>
                            <th>E-mail</th>
                            <th>Adresse</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="Nom">Doe</td>
                            <td data-label="Prénom">John</td>
                            <td data-label="Télèphone">0632476212</td>
                            <td data-label="E-mail">johndoe@gmail.com</td>
                            <td data-label="Adresse">1 rue des orangers, 47250 Marmande France</td>
                        </tr>
                        <tr>
                            <td data-label="Nom">Petit</td>
                            <td data-label="Prénom">Antoine</td>
                            <td data-label="Télèphone">0672925121</td>
                            <td data-label="E-mail">antoine.petit4723@gmail.com</td>
                            <td data-label="Adresse">1 Rue Jean-Jacques Rousseau, 33200 Bordeaux, France</td>
                        </tr>
                        <tr>
                            <td data-label="Nom">Simon</td>
                            <td data-label="Prénom">Pierre</td>
                            <td data-label="Télèphone">0645257896</td>
                            <td data-label="E-mail">alexandre.robert@gmail.com</td>
                            <td data-label="Adresse">25 Place Napoléon, 56600 Bretagne, France</td>
                        </tr>
                        <tr>
                            <td data-label="Nom">Blanchard</td>
                            <td data-label="Prénom">Mathieu</td>
                            <td data-label="Télèphone">0623255658</td>
                            <td data-label="E-mail">mathieu.blanchard@gmail.com</td>
                            <td data-label="Adresse">1 Chemin des Bateliers, 20000 Ajaccio, France</td>
                        </tr>
                        <tr>
                            <td data-label="Nom">Faye</td>
                            <td data-label="Prénom">Julien</td>
                            <td data-label="Télèphone">0647239456</td>
                            <td data-label="E-mail">julien.faye@gmail.com</td>
                            <td data-label="Adresse">46 rue de la Boétie, 97110 Pointe-à-Pitre, France</td>
                        </tr>
                        <tr>
                            <td data-label="Nom">Dupont</td>
                            <td data-label="Prénom">Sylvie</td>
                            <td data-label="Télèphone">0789632154</td>
                            <td data-label="E-mail">sylvie.dupont@gmail.com</td>
                            <td data-label="Adresse">79 Avenue des Tuileries, 67500 Haguenau, France</td>
                        </tr>
                        <tr>
                            <td data-label="Nom">Mertens</td>
                            <td data-label="Prénom">Théo</td>
                            <td data-label="Télèphone">0745687889</td>
                            <td data-label="E-mail">theo.mertens@gmail.com</td>
                            <td data-label="Adresse">86 rue Jean Vilar, 90000 Belfort, France</td>
                        </tr>
                        <tr>
                            <td data-label="Nom">Bondon</td>
                            <td data-label="Prénom">Lea</td>
                            <td data-label="Télèphone">0652144763</td>
                            <td data-label="E-mail">lea.dupouy@gmail.com</td>
                            <td data-label="Adresse">2 avenue du Marechal Juin, 50000 Sant-Lô, France</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
