<div class="sidebar">
    <ul>
        <a href="gestionStock.html">
            <li>Gestion stocks</li>
        </a>
        <a href="gestionUsers.html">
            <li>Gestion utilisateurs</li>
        </a>
        <a href="#">
            <li>Nouvelle commande</li>
        </a>
        <a href="accueil.html">
            <li>Se déconnecter</li>
        </a>
    </ul>
</div>
<nav>
    <div class="logo">
        <h1>Negosud</h1>
    </div>
    <div class="middle">
        <ul>
            <a href="gestionStock.html" class="btn1">
                <li class="btn">Gestion stocks</li>
            </a>
            <a href="gestionUsers.html" class="btn1">
                <li class="btn">Gestion clients</li>
            </a>
            <a href="#" class="btn1">
                <li class="btn">Nouvelle commande</li>
            </a>
        </ul>
    </div>
    <div class="deconnexion">
        <ul>
            <a href="accueil.html" class="btn1">
                <li class="btn btn1">Se déconnecter</li>
            </a>
        </ul>
    </div>
    <img src="../menuBurger.png" alt="" class="menuburger">
</nav>
